.info {
  position: relative;
  overflow: hidden;

  &__container {
    position: relative;
    padding: 8.7vw 4.2vw 104px;

    @include vp-1023 {
      padding: 59px 20px 13px;
    }
  }

  &__slider {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include vp-1023 {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    transform: translate(-4.2vw, 0);
    gap: 3.9vw;
    margin: 0 0 4.4vw;
    font-size: clamp(20px, 2.9vw, 56px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include vp-1023 {
      transform: unset;
      gap: unset;
    }

    &::before {
      @include pse {
        position: relative;
        top: 2px;
        height: 6.3vw;
        width: 5px;
        background: linear-gradient(to bottom, #3877ee, #ef5da8);
      }

      @include vp-1023 {
        display: none;
      }
    }
  }

  &__cont {
    position: relative;
    top: 2px;
    left: -18px;
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;
    margin: 0 0 7.9vw;

    @include vp-1023 {
      top: unset;
      left: unset;
      gap: 20px;
      margin: 0 0 20px;
      padding: 0 0 57px;
      border-bottom: 1px solid $color-link-water;
    }

    &::before,
    &::after {
      @include pse {
        position: absolute;
        background-color: $color-chambray;
        opacity: 0.1;
        z-index: -1;
      }

      @include vp-1023 {
        display: none;
      }
    }

    &::before {
      top: 58%;
      left: 50%;
      width: 100vw;
      transform: translate(-50%, 0);
      height: 1px;
    }

    &::after {
      top: 50%;
      left: 51.5%;
      width: 1px;
      height: 1000vh;
      transform: translate(0, -50%);
    }
  }

  &__cont > * {
    z-index: 1;
  }

  &__year {
    text-align: center;
    font-size: clamp(56px, 10.4vw, 200px);
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -4px;

    @include vp-1023 {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.12px;
    }

    &--min {
      color: $color-neon-blue;

      @include vp-1023 {
        color: $color-royal-blue;
      }
    }

    &--max {
      color: $color-brilliant-rose;
    }
  }

  & &__pag {
    position: absolute;
    top: 58%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 27.6vw;
    height: 27.6vw;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-chambray-trans-20;

    @include vp-1023 {

    }
  }

  &__bullet {


    @include vp-1023 {

    }
  }

  &__bullet--active {


    @include vp-1023 {

    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    min-height: 135px;
    flex-shrink: 0;

    @include vp-1023 {
      width: 166px;
      min-height: 114px;
    }
  }

  &__wrapper {
    order: 1;

    @include vp-1023 {
      order: unset;
    }
  }

  &__bold {
    color: $color-royal-blue;
    font-family: "Bebas Neue";
    font-size: clamp(16px, 1.3vw, 25px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: clamp(14px, 1.1vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include vp-1023 {
      line-height: 145%;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 0 0 2.9vw;

    @include vp-1023 {
      gap: 11px;
      margin: 0;
    }
  }

  &__box {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include vp-1023 {

    }
  }

  &__frac {


    @include vp-1023 {

    }
  }

  &__frac--min {


    @include vp-1023 {

    }
  }

  &__frac--max {


    @include vp-1023 {

    }
  }

  &__bag {
    display: flex;
    gap: 1vw;

    @include vp-1023 {
      gap: 8px;
    }
  }

  &__btn {
    width: 2.6vw;
    max-width: 50px;
    min-width: 25px;
    height: 2.6vw;
    max-height: 50px;
    min-height: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-chambray-trans-50;
    transition: opacity $trans-default;

    @include vp-1023 {
      width: 25px;
      height: 25px;
    }
  }

  &__btn--disabled {
    opacity: 0.5;
    pointer-events: none;

    @include vp-1023 {

    }
  }

  &__arrow {
    width: 33%;
    height: 33%;
  }

  &__twin--prev {


    @include vp-1023 {

    }
  }

  &__twin--next {


    @include vp-1023 {

    }
  }

  &__twin--disabled {


    @include vp-1023 {

    }
  }
}
