.info {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  gap: 4.4vw;
  padding: 8.7vw 4.2vw 104px;
  overflow: hidden;

  @include vp-1023 {
    gap: 0;
    padding: 59px 20px 13px;
  }

  &__frame {
    display: grid;
    grid-template-columns: 100%;

    &:not(:first-of-type) {
      margin: 10vw 0 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    transform: translate(-4.2vw, 0);
    gap: 3.9vw;
    margin: 0;
    font-size: clamp(20px, 2.9vw, 56px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include vp-1023 {
      transform: unset;
      gap: unset;
      margin: 0 0 53px;
    }

    &::before {
      @include pse {
        position: relative;
        top: 2px;
        height: 6.3vw;
        width: 5px;
        background: linear-gradient(to bottom, #3877ee, #ef5da8);
      }

      @include vp-1023 {
        display: none;
      }
    }
  }

  &__case {
    position: relative;
    top: 2px;
    left: -18px;
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;
    margin: 0 0 7.9vw;

    @include vp-1023 {
      position: static;
      top: unset;
      left: unset;
      gap: 25px;
      margin: 0 0 20px;
      padding: 0 9px 60px 0;
      border-bottom: 1px solid $color-link-water;
    }

    &::before,
    &::after {
      @include pse {
        position: absolute;
        background-color: $color-chambray;
        opacity: 0.1;
        z-index: -1;
      }

      @include vp-1023 {
        display: none;
      }
    }

    &::before {
      top: 58%;
      left: 50%;
      width: 100vw;
      transform: translate(-50%, 0);
      height: 1px;
    }

    &::after {
      top: 50%;
      left: 51.5%;
      width: 1px;
      height: 1000vh;
      transform: translate(0, -50%);
    }
  }

  &__year {
    text-align: center;
    font-size: clamp(56px, 10.4vw, 200px);
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -4px;

    @include vp-1023 {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.12px;
    }

    &--min {
      color: $color-neon-blue;

      @include vp-1023 {
        color: $color-royal-blue;
      }
    }

    &--max {
      color: $color-brilliant-rose;
    }
  }

  &__pag {
    position: absolute;
    top: 58%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    transition: transform $trans-1000;
    width: 27.6vw;
    height: 27.6vw;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-chambray-trans-20;
    z-index: 1;

    @include vp-1023 {
      top: unset;
      bottom: 29px;
      left: 50%;
      display: flex;
      gap: 10px;
      width: fit-content;
      height: fit-content;
      border-radius: unset;
      border: unset;
    }
  }

  &__cover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    transform: translate(-50%, -50%);
    transition: transform $trans-1000;
    border-radius: 50%;
    cursor: pointer;

    @include vp-1023 {
      position: static;
      transform: unset;
      width: 6px;
      height: 6px;
    }
  }

  &__bullet {
    width: 6px;
    height: 6px;
    padding: 0;
    flex-shrink: 0;
    transition: background-color $trans-default, border $trans-default, width $trans-default, height $trans-default;
    background-color: $color-chambray;
    border: 1px solid $color-chambray;
    border-radius: 50%;
    overflow: hidden;

    @include vp-1023 {
      opacity: 0.4;
      flex-shrink: 0;
      border: unset;
    }
  }

  &__cover--active &__bullet,
  &__cover:hover &__bullet {
    width: 100%;
    height: 100%;
    background-color: $color-ghost-white;
    border: 1px solid $color-chambray-trans-50;
    opacity: 1;

    @include vp-1023 {
      background-color: $color-chambray;
      opacity: 1;
    }
  }

  &__count {
    display: inline-flex;
    color: $color-chambray;
    font-size: clamp(14px, 1vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include vp-1023 {
      display: none;
    }
  }

  &__sign {
    position: absolute;
    font-size: clamp(14px, 1vw, 20px);
    left: 3.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    pointer-events: none;
    opacity: 0;
    transition: opacity $trans-default;

    @include vp-1023 {
      display: none;
    }
  }

  &__cover--active &__sign,
  &__cover:hover &__sign {
    opacity: 1;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 0 0 2.9vw;

    @include vp-1023 {
      order: 1;
      gap: 8px;
      margin: 0;
    }
  }

  &__box {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__bag {
    display: flex;
    gap: 1vw;

    @include vp-1023 {
      gap: 8px;
    }
  }

  &__btn {
    width: 2.6vw;
    max-width: 50px;
    min-width: 25px;
    height: 2.6vw;
    max-height: 50px;
    min-height: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-chambray-trans-50;
    transition: opacity $trans-default;

    @include vp-1023 {
      width: 25px;
      height: 25px;
    }
  }

  &__btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__arrow {
    width: 33%;
    height: 33%;
  }

  &__slider {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include vp-1023 {
      width: 100%;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    min-height: 135px;
    flex-shrink: 0;

    @include vp-1023 {
      width: 166px;
      min-height: 114px;
      opacity: 0.4;
    }

    &--active {
      @include vp-1023 {
        opacity: 1;
      }
    }
  }

  &__bold {
    color: $color-royal-blue;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(16px, 1.3vw, 25px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: clamp(14px, 1.1vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include vp-1023 {
      line-height: 145%;
    }
  }

  &__cont {
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    @include vp-1023 {
      top: 30px;
    }
  }

  &__cont--active {
    opacity: 1;
    max-height: 1000vh;
    transition: opacity $trans-1000, top $trans-1000;
    overflow: visible;

    @include vp-1023 {
      top: 0;
      margin: 0 0 76px;
    }
  }

  &__twin {
    position: absolute;
    top: 42px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $color-default-white;
    transition: opacity $trans-default;
    filter: drop-shadow(0 0 15px rgba(56, 119, 238, 0.1));
    z-index: 1;

    @include vp-1023 {
      display: none;
    }
  }

  &__twin--prev {
    left: -43px;
  }

  &__twin--next {
    right: -43px;
  }

  &__twin--disabled {
    opacity: 0;
    pointer-events: none;
  }
}
